<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="site-head">
    <meta charset="UTF-8" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <script th:src="|https://code.jquery.com/jquery-1.12.4.min.js|"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<!-- th:hef calls a controller method - which returns the view -->
<header th:fragment="site-header">
    <a href="#" style="color: white" th:href="@{/}">Home</a>
    <a href="#" style="color: white" th:href="@{/add}">Add Items</a>
    <a href="#"  style="color: white" th:href="@{/items}">Get Items</a>
    <div id="logged-in-info">

        <form method="post" th:action="@{/logout}">
            <input type="submit"  value="Logout"/>
        </form>
    </div>
</header>
<h1>Welcome</h1>
<body>
<p>Welcome to  AWS Item Tracker.</p>
</body>
</html>
