body>header {
    background: #000;
    padding: 5px;
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;

}

body>footer {
    background: #eee;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}
