<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger: only show INFO and higher -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

        <!-- 🚫 Suppress all AWS SDK and Apache internal debug logs -->
        <Logger name="software.amazon.awssdk" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="com.amazonaws" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.apache.http" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.apache.commons" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="software.amazon.awssdk.http.apache.internal.conn.IdleConnectionReaper" level="off"/>
        <Logger name="software.amazon.awssdk.http.apache.internal.net.SdkSslSocket" level="off"/>
        <Logger name="software.amazon.awssdk.http.apache.internal.conn" level="off"/>
    </Loggers>
</Configuration>
