<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Set default level to INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- AWS SDK should not log debug info -->
    <logger name="software.amazon.awssdk" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
