boto3==1.40.42
botocore==1.40.42
colorama==0.4.6
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.2
pluggy==1.5.0
Pygments==2.19.2
pytest==8.4.2
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
urllib3==2.5.0
