[flake8]
# Specify the max line length if needed
max-line-length = 88

# Exclude specific error codes (F403 in this case)
ignore = F403

# You can also exclude specific directories if needed (e.g., migrations)
exclude = 
    .git,
    __pycache__,
    migrations,
    env,
    venv
