build_dir/
target/
README.html
*.swp
.DS_Store
launch.json
.idea
.classpath
.project
.settings
Gemfile
Gemfile.lock
.gitignore
.metadata
.recommenders
php/example_code/Find_replace_confirm changes.py
*.phar
._*
cpp/.vs/
*.iml
.vscode
