build_dir/
target/
*.swp
.DS_Store
.gitignore
.metadata
.recommenders
._*
vendor/
*.exe
.idea
venv
.*~
xcuserdata
.swiftpm
Package.resolved
*.phpunit.cache
*.phpunit.result.cache
super-linter.log
dotnetv3/SES/Tests/testsettings.local.json
