javascriptv3/example_code/cloudwatch-events/README.md
javascriptv3/example_code/cloudwatch-logs/README.md
javascriptv3/example_code/cloudwatch/README.md
javascriptv3/example_code/codebuild/README.md
javascriptv3/example_code/cognito-identity-provider/README.md
javascriptv3/example_code/dynamodb/README.md
javascriptv3/example_code/ec2/README.md
javascriptv3/example_code/eventbridge/README.md
javascriptv3/example_code/glacier/README.md
javascriptv3/example_code/glue/README.md
javascriptv3/example_code/iam/README.md
javascriptv3/example_code/kinesis/README.md
javascriptv3/example_code/lambda/README.md
javascriptv3/example_code/mediaconvert/README.md
javascriptv3/example_code/medical-imaging/README.md
javascriptv3/example_code/personalize/README.md
javascriptv3/example_code/pinpoint/README.md
javascriptv3/example_code/polly/README.md
javascriptv3/example_code/redshift/README.md
javascriptv3/example_code/rekognition/README.md
javascriptv3/example_code/s3/README.md
javascriptv3/example_code/sagemaker/README.md
javascriptv3/example_code/secrets-manager/README.md
javascriptv3/example_code/ses/README.md
javascriptv3/example_code/sns/README.md
javascriptv3/example_code/sqs/README.md
javascriptv3/example_code/sts/README.md
javascriptv3/example_code/support/README.md
javascriptv3/example_code/transcribe/README.md
rust_dev_preview/examples/aurora/README.md
rust_dev_preview/examples/auto-scaling/README.md
rust_dev_preview/examples/batch/README.md
rust_dev_preview/examples/cloudwatch/README.md
rust_dev_preview/examples/dynamodb/README.md
rust_dev_preview/examples/ebs/README.md
rust_dev_preview/examples/ec2/README.md
rust_dev_preview/examples/ecr/README.md
rust_dev_preview/examples/ecs/README.md
rust_dev_preview/examples/eks/README.md
rust_dev_preview/examples/firehose/README.md
rust_dev_preview/examples/glue/README.md
rust_dev_preview/examples/iam/README.md
rust_dev_preview/examples/iot/README.md
rust_dev_preview/examples/kinesis/README.md
rust_dev_preview/examples/kms/README.md
rust_dev_preview/examples/lambda/README.md
rust_dev_preview/examples/medialive/README.md
rust_dev_preview/examples/mediapackage/README.md
rust_dev_preview/examples/polly/README.md
rust_dev_preview/examples/qldb/README.md
rust_dev_preview/examples/rds/README.md
rust_dev_preview/examples/s3/README.md
rust_dev_preview/examples/sagemaker/README.md
rust_dev_preview/examples/ses/README.md
rust_dev_preview/examples/sns/README.md
rust_dev_preview/examples/sqs/README.md
rust_dev_preview/examples/ssm/README.md
rust_dev_preview/examples/sts/README.md
rust_dev_preview/examples/textract/README.md
