@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <h3>Amazon DynamoDB C# Item Tracker</h3>
    <p>The Amazon DynamoDB C# Item Tracker example application uses multiple AWS Services and the AWS SDK for .NET. Collecting and  working with items has never been easier! Simply perform these steps:<p>
        <ol>
            <li>Enter work items into the system by choosing the <i>Add Items</i> menu item. Fill in the form and then choose <i>Create Item</i>.</li>
            <li>The AWS Item Tracker application stores the data into an Amazon DynamoDB table by using the DynamoDB .NET API.</li>
            <li>You can view all of your items by choosing the <i>Get Items</i> menu item. Next, choose <i>Get Active Items</i> in the dialog box.</li>
            <li>You can modify an Active Item by selecting an item in the table and then choosing <i>Get Single Item</i>. The item appears in the Modify Item section where you can modify the description or status.</li>
            <li>Modify the item and then choose <i>Update Item</i>. You cannot modify the ID value or Description value. </li>
            <li>You can archive any item by selecting the item and choosing <i>Archive Item</i>. Notice that the table is updated with only active items.</li>
            <li>You can display all archived items by choosing <i>Get Archived Items</i>. You cannot modify an archived item.</li>
            <li>You can store a report of Active items in an Amazon Simple Store Service (S3) bucket choosing <i>S3 Report</i>.</li>
        </ol>
<div>
