/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
  color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
  color: black;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

#controls{
  margin-left:20px
}

.thissize{
  min-width:150px
}
#blockname, #thetitle, #addatitle, #synopsis, #category, #githublink, #sdkguidelink, #snippetdescription, #snippettag,
#snippetdescription1, #snippettag1,  #snippetdescription2, #snippettag2,  #snippetdescription3, #snippettag3,
#snippetdescription4, #snippettag4, #snippetdescription5, #snippettag5{
  min-width:400px
}

.show-when-target {
  visibility: hidden;
}

.show-when-target:target {
  visibility: visible;
}

#enquiry_form {
  width: 500px;
}

#enquiry_form label {
  width: 200px;
  float: left;
  text-align: right;
  padding-right: 1em;
  font-size: 0.7em;
  margin: 6px 0;
}

#enquiry_form input,
#enquiry_form select,
#enquiry_form textarea {
  margin: 5px 0;
}


/* #enquiry_form {border:solid 1px orange; padding:20px;margin:10px;} */

#enquiry_form .submitbutton {
  padding-left: 210px;
}


/* #mortgagetype1, #mortgagetype2 {display:none;} not required now hidden with jquery so they display if js turned off*/

#thanksnotice {
  display: none;
}

/*Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. SPDX-License-Identifier: Apache-2.0
