<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="dynamodb-basics">
            <file>dynamodb/dynamodb_basics/DynamoDBBasicsTests.php</file>
        </testsuite>
        <testsuite name="partiql-basics">
            <file>dynamodb/partiql_basics/PartiQLBasicsTests.php</file>
        </testsuite>
        <testsuite name="iam-basics">
            <file>iam/iam_basics/tests/IamBasicsTests.php</file>
            <file>iam/tests/IamServiceTest.php</file>
        </testsuite>
        <testsuite name="glue-basics">
            <file>glue/GlueBasicsTests.php</file>
        </testsuite>
        <testsuite name="lambda-basics">
            <file>lambda/LambdaTests.php</file>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="false">
        <include>
            <directory suffix=".php">dynamodb</directory>
            <directory suffix=".php">glue</directory>
            <directory suffix=".php">iam</directory>
            <directory suffix=".php">lambda</directory>
        </include>
    </coverage>
</phpunit>
