<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %5p %c:%F:%L - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="ConsoleAppender"/>
		</Root>
		<Logger name="software.amazon.awssdk" level="WARN" />
		<Logger name="software.amazon.awssdk.request" level="DEBUG" />
    	<Logger name="org.apache.http.wire" level="DEBUG" />
	</Loggers>
</Configuration>