awscli>=1.27.81
amazon-dax-client>=1.1.7
boto3>=1.26.81
cassandra-driver>=3.25.0
cassandra-sigv4>=4.0.2
chalice<=1.27.1
flask>=2.2.0
flask-cors>=3.0.10
flask-restful>=0.3.9
numpy>=1.24.2
pillow>=9.4.0
playsound==1.2.2
pytest>=7.2.1
qrcode>=7.4.2
requests>=2.28.2
pycognito>=2022.12.0
webargs>=8.2.0
websockets>=10.4
