boto3==1.34.144
botocore==1.34.144
colorama==0.4.6
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.0
pluggy==1.5.0
pytest==8.2.1
python-dateutil==2.9.0.post0
s3transfer==0.10.1
six==1.16.0
urllib3==2.2.1
