## Code examples

{% include 'includes/prerequisites.jinja2' %}

{% if hello %}

### Get started

{{ macs.list_examples(hello) }}
{% endif %}
{% if actions %}
### Single actions

Code excerpts that show you how to call individual service functions.

{{ macs.list_examples(actions) }}
{% endif %}
{% if scenarios %}
### Scenarios

Code examples that show you how to accomplish a specific task by calling multiple
functions within the same service.

{{ macs.list_examples(scenarios) }}
{% endif %}
{% if crosses %}
### Cross-service examples

Sample applications that work across multiple AWS services.

{{ macs.list_examples(crosses) }}
{% endif %}
