### Prerequisites

See the [README]({{lang_config['readme']}}#Prerequisites) in the `{{lang_config['base_folder']}}` folder for prerequisites.

{% if lang_config['name'] == 'Python' and lang_config['sdk_ver'] == 3 %}
Install the packages required by these examples by running the following in a virtual environment:

```
python -m pip install -r requirements.txt
```

{% endif %}
<!--custom.prerequisites.start-->
{{ customs['prerequisites'] -}}
<!--custom.prerequisites.end-->
