### Prerequisites

{% if lang_config['name'] != 'C++' %}
For prerequisites, see the [README]({{lang_config['readme']}}#Prerequisites) in the `{{lang_config['base_folder']}}` folder.
{% endif %}

{% if lang_config['name'] == 'Python' and lang_config['sdk_ver'] == 3 %}
Install the packages required by these examples by running the following in a virtual environment:

```
python -m pip install -r requirements.txt
```
{% elif lang_config['name'] == 'C++' and lang_config['sdk_ver'] == 1 %}

Before using the code examples, first complete the installation and setup steps
for [Getting started](https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/getting-started.html) in the AWS SDK for
C++ Developer Guide.
This section covers how to get and build the SDK, and how to build your own code by using the SDK with a
sample Hello World-style application.

Next, for information on code example structures and how to build and run the examples, see [Getting started with the AWS SDK for C++ code examples](https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/getting-started-code-examples.html).

{% endif %}

<!--custom.prerequisites.start-->
{{ customs['prerequisites'] -}}
<!--custom.prerequisites.end-->

