### Tests

⚠ Running tests might result in charges to your AWS account.

To find instructions for running these tests, see the [README]({{lang_config['readme']}}#Tests)
in the `{{lang_config['base_folder']}}` folder.

<!--custom.tests.start-->
{{ customs['tests'] -}}
<!--custom.tests.end-->
