black==23.9.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
flake8==6.1.0
idna==3.4
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pycodestyle==2.11.1
pyflakes==3.1.0
PyYAML==6.0.1
requests==2.31.0
types-PyYAML==6.0.12.12
urllib3==2.0.6
yamale==4.0.4
