<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="scenarios">
            <directory>example_code/*/*/tests/</directory>
            <directory>example_code/*/tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <exclude>
            <directory suffix=".php">*vendor*</directory>
        </exclude>
    </coverage>
</phpunit>
