aws_doc_sdk_examples_tools @ git+https://github.com/awsdocs/aws-doc-sdk-examples-tools@2025.41.0
black==24.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
flake8==6.1.0
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy==1.8.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.11.2
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.19.1
pytest==8.0.0
PyYAML==6.0.1
requests==2.32.4
rich==13.9.4
shellingham==1.5.4
typer==0.15.1
types-PyYAML==6.0.12.12
typing_extensions==4.12.2
urllib3==2.6.0
yamale==4.0.4