amazon-dax-client==2.0.3
antlr4-python3-runtime==4.9.3
attrs==22.1.0
aws-doc-sdk-examples-tools @ git+https://github.com/awsdocs/aws-doc-sdk-examples-tools@cad7e7ba2c59a54837212e789a5304b9108fac47
black==24.3.0
boto3==1.35.98
botocore==1.35.98
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
distlib==0.3.8
exceptiongroup==1.2.2
filelock==3.13.4
flake8==6.1.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.6
jmespath==1.0.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy==1.8.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.11.2
platformdirs==4.3.6
pluggy==1.5.0
psutil==5.8.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.19.1
pyparsing==3.0.9
pytest==8.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.32.0
rich==13.9.4
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
s3transfer==0.10.4
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
tomli==2.2.1
typer==0.15.1
types-PyYAML==6.0.12.12
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.3.0
virtualenv==20.25.1
virtualenvwrapper-win==1.2.7
yamale==4.0.4