<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="|https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css|"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/images/favicon.ico" th:href="@{/images/favicon.ico}" />

    <title>AWS Sample Messaging Application</title>
</head>

<body>
<header th:replace="layout :: site-header"/>
<div class="container">

    <h2>AWS Sample Message Application</h2>

    <p>The AWS Sample Messaging application is a sample application that uses the Simple Queue Service as well as other AWS Services and the Java V2 API.
     Working with messages has never been easier! Simply perform these steps:<p>

    <ol>
        <li>You can send a new message by choosing the <i>Send Messages</i> menu item. Select a user from the form, enter a message and then choose <i>Send</i>.</li>
        <li>The AWS Message application stores the message in a First in First Out (FIFO) queue. This queue ensure that the order of the messages are consisent.</li>
        <li>The AWS Message application polls the queue for all messages in the FIFO queue.</li>
        <li>The AWS Message application displays the message data in the view. The message body, user name, and an avatar is displayd.</li>
        <li>You can send and view multiple messages by using the AWS Message application. </li>
        <li>You can purge messages from the queue.</li>
        </ol>
    <div>
</body>

</html>
