name: "Keep PRs Updated from Main"
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  autoupdate:
    name: Auto Update PR
    runs-on: ubuntu-22.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
