name: Ruby Linting

on:  # yamllint disable-line rule:truthy
  pull_request:
  workflow_dispatch:

jobs:
  rubocop:
    name: RuboCop
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: "ruby/**/*.rb"

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0

      - name: Install dependencies
        run: |
          gem install rubocop

      - name: Run RuboCop
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          changed_files=(${{steps.changed-files.outputs.all_changed_files}})
          rubocop --config .github/linters/.ruby-lint.yml "${changed_files[@]}"     
