<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CognitoIdentityHandler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FindOrCreateIdentityPool-Package (Sheppy AWS Info).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FindOrCreateIdentityPool-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FindOrCreateIdentityPool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CognitoIdentityDemo</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CognitoIdentityHandler</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CognitoIdentityHandlerTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FindOrCreateIdentityPool</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
