<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net35" />
  <package id="AWSSDK.CloudWatch" version="3.3.1.3" targetFramework="net35" />
  <package id="AWSSDK.CloudWatchEvents" version="3.3.0.6" targetFramework="net35" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.2.1" targetFramework="net35" />
  <package id="AWSSDK.Core" version="3.3.7" targetFramework="net35" />
  <package id="AWSSDK.S3" version="3.3.5.2" targetFramework="net35" />
</packages>